


<header>
  <h1>{{title}}</h1>
  <a href="/">Home</a>
  <a href="/docs">Docs</a>
  <a href="https://github.com/pratushrai0309/covid-19-stats-API">Github</a>
  <a href="https://twitter.com/PratushRai">Twitter</a>
</header>
