<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
   <link rel="icon" href="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-virus-1.png&r=0&g=0&b=0">
</head>
<body>
  <h1>404</h1>
  <p>Page Not Found</p>
  <h1 id="home">><a href="/">Home Page</a></h1>
</body>
<style>
body{
  margin: 0px;
  padding: 0px;
  background-color: #282828;
}

h1{
  text-align: center;
  color: #D23E3E;
  font-size: 100px;
  margin-top: 15
  0px;
}

p{
  text-align: center;
  color:  #A5A8AD ;
  font-size: 40px;
}

#home{
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  font-size: 28px;
  transition-delay: 50ms;
}

#home:hover{
  color: #4789EE;
}

#home a{
  text-decoration: none;
}


</style>
</html>